body {
    margin: 0;
    background-image: url('img/graffiti-wall.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: -110px;
    background-position-x: -175px;
    font-family: 'Permanent Marker', cursive;
}

.bg-dark img {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 7px solid black;
    cursor: pointer;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table {
    border-collapse: collapse;
    justify-content: center;
    z-index: 1;
    display: flex
}

.shape {
    position: absolute;
    width: 80px;
    left: 26px;
    bottom: 26px;
}

.d-none {
    display: none;
}

.bg {
    background-color: #f5f7f7a6;
    z-index: 1;
    width: 399px;
    height: 399px;
}

td:hover {
    background-color: rgba(64, 224, 208, 0.342);
}

.player-panel {
    position: absolute;
    right: 150px;
}

.player-panel div {
    margin-bottom: 10px;
    font-size: 30px;
}

.player-1 {
    color: #AC2CBF;
    background-color: black;
    border: 8px solid #AC2CBF;
    border-radius: 12px;
    padding: 15px;
    font-size: 45px !important;
}

.player-2 {
    color: rgb(236, 42, 107);
    background-color: black;
    border: 8px solid rgb(236, 42, 107);
    border-radius: 12px;
    padding: 15px;
    font-size: 45px !important;
}

.inactive {
    color: gray;
    border: 8px solid gray;
    opacity: 0.7;
}

.horizontal-line {
    height: 8px;
    width: 345px;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 190px;
    z-index: 5;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.bg-dark {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    width: 200vw;
    height: 100vh;
    z-index: 1000;
}